.container{
        max-width: 1560px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
}
.connection{
    width: 97%;
    height: 550px;
    border-radius: 12px;
    background: radial-gradient(333.17% 80.94% at 51.32% 69.21%, #3DA0FC 0%, rgba(2, 227, 214, .2) 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 24px;
    /* margin-top: 3px; */
}
.connection-login{
 width: 456px;
    height: 385px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}
.connection-login h2{
    color: #242825;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.input-name{
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #F2F2F2;
    padding: 0 5px;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 30px;
}
.connection-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(33, 55, 251);
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    margin-top: 50px;
}