*{
    scroll-behavior: smooth;
}
/* Container */
 .container{
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
 }
 /* Container */
 /*  navbar */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   position:fixed;
    z-index: 10;
    background-color: #fff;
}
.navbar-logo{
    width: 300px;
    height: 100px;
    object-fit: cover;
}
.navbar-logo img{
  width: 100%;
  height: 80px;
}
.navbar-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
}
.navbar-navigation{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar-box__link{
    text-decoration: none;
   font-size: 19px;
   font-weight: 500;
   margin-left: 25px;
   color: #00000098;
   transition: all .3s ease;
}
.navbar-box__link:hover{
    color:  rgb(33, 55, 251);
}
.navbar-navigation-right{
    display: flex;
    align-items: center;
}
.navbar-drapdown{
    display: block;
}
.navbar-drapdown__lang{
    background: none;
    margin-right: 60px;
    outline: none;
    font-size: 20px;
    color: #000000a6;
    font-weight: 600;
    border: 2px solid #0000007a;
    padding: 5px 7px;
    border-radius: 10px;
    margin-left: 10px;
}
.navbar-link__button{
    width: 200px;
    height: 60px;
    border-radius: 25px;
    padding: 10px 25px;
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
    font-family : sans-serif;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background: rgb(33, 55, 251);
    background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
    color: #fff;
    overflow: hidden;
}
.navbar-link__button::before{
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation:  3s ease-in-out infinite;
}
.humburger{
    display: none;
}
@media only screen and (max-width: 450px){
    .navbar-logo{
        width: 200px;
    }
    .navbar-logo img{
     display: none;
    }
    .navbar-box{
        display: flex;
    }
    .navbar-navigation{
        display: none;
    }
    .navbar-drapdown{
        display: none;
    }
    .navbar-link__button{
       display: none;
    }
    .humburger{
        display: block;
        margin-right: 30px;
    } 
}
